<h1>Mandi Price Checker</h1>

<form method="POST">

    <input type="text" name="crop" placeholder="Enter Crop/Sabji Name" required>
    <br><br>

    <input type="text" name="city" placeholder="Enter City" required>
    <br><br>

    <button type="submit">Get Price</button>

</form>

{% if result %}
<h3>Market Price Result</h3>

<p><b>Crop:</b> {{ result.crop }}</p>
<p><b>City:</b> {{ result.city }}</p>
<p><b>Price:</b> {{ result.price }}</p>
<p><b>Updated:</b> {{ result.updated }}</p>

{% endif %}
